body {
    background-color: #303030;
    color:  #ebebeb;
    text-align: center;
}

.padded {
    margin-top: 5rem;
}

a {
    font-size: 35px;
}

a:hover {
    font-size: 35px;
    text-decoration: none;
}